Source: exodus
Priority: extra
Maintainer: R. Douglas Barbieri <doug@dooglio.net>
Build-Depends: cmake, debhelper, dpkg-dev
Standards-Version: 3.9.4
Section: libs
Homepage: http://exodus.io
Vcs-Git: https://github.com/exodusmovement
Vcs-Browser: https://github.com/exodusmovement

Package: exodus
Section: x11
Architecture: amd64
Depends: wget, unzip, ${misc:Depends}
Description: Exodus is the first desktop multi-asset wallet with ShapeShift built in.
 Live charts turn your diversified portfolio into a bottom line, a seamless, one click,
 ShapeShift experience, and multi-asset wallet gives you control over your keys
 beautiful live charts, and a personalized user experience.
 This package provides the Exodus UI client. 

# vim: ts=4 sw=4 et
